<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    {%if titolPagina%}
    <title>Title - {{titolPagina}}</title>
    {%else%}
    <title>NomDeLaPagina</title>
    {%endif%}
</head>
<body>
<header>
    <nav>
        <div class="left-section">
            <a href="inici">Inici</a>
            <a href="tarifas">Tarifas</a>
            <a href="documentacio">Documentacio</a>
            <a href="contacte">Contacte</a>
        </div>
        </div>
        <div class="right-section">
            <div class="right-section">
              <a href="accesoempresas">Acceso empresas</a>;
            </div>
            </div>
    </nav>
</header>

{% block contingut %}
{% endblock %}

</body>
</html>