{% extends "layout.html" %}
{% block contingut %}
<h1 class="page-title">Página Tarifas</h1>
<div class="plans-container">
    <div class="plan">
        <h2 class="plan-title">Starter</h2>
        <p class="plan-details">Contiene: Acceso a la plataforma y configuración inicial, gestión de platos y visualización de estadísticas. Apta para 0 a 10 clientes. NO INCLUYE DISPOSITIVOS.</p>
    </div>
    <div class="plan">
        <h2 class="plan-title">Advanced</h2>
        <p class="plan-details">Contiene: Acceso a la plataforma, configuración inicial, gestión de platos y visualización de datos. Límite de perfiles guardados: 2. Apta para 10 a 20 clientes.</p>
    </div>
    <div class="plan">
        <h2 class="plan-title">Premium</h2>
        <p class="plan-details">Contiene: Acceso a la plataforma y configuración inicial, gestión de platos y visualización de datos. Límite de perfiles guardados: 10. Para 20 a 40 clientes. Facturación por uso a parte. INCLUYE DISPOSITIVOS.</p>
    </div>
</div>
<div class="custom-plan">
    <h2>¿Quieres crear tu propio plan?</h2>
    <p>Escríbenos a <a href="mailto:requests@restaurafacil.com">requests@restaurafacil.com</a> y personalizaremos tu plan a medida.</p>
</div>
{% endblock %}
